<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Detail</h2>
  <h3> {{ todos.pk }} 번째 글 </h3>
  <hr>
    <p>제목 : {{ todos.title}} </p>
    <p>내용 : {{ todos.content}}</p>
    <p>작성 시간 {{ todos.created_at }}</p>
  <hr>
  <a href="{%url 'todo:index'%}">뒤로</a>
  <div>
    <form action="{%url 'todo:delete' todos.pk %}" method='POST'>
      {% csrf_token %}
      <input type='submit' value='삭제'>
    </form>
  </div>
  <a href="{%url 'todo:edit' todos.pk %}">수정</a>
</body>
</html>